.btn {
  border: 1px solid map-get($colors, secondary);
  padding: 16px map-get($spaces, 's');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 11px;

  color: map-get($colors, darkColor);
  text-transform: uppercase;
  text-decoration: none;
  @include fluid-type($small);
  font-weight: bold;
  letter-spacing: rem(1);

  transition: all .3s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 8px map-get($colors, secondary);
  }

  &.-outlined {
    border-color: map-get($colors , lightColor);
    color: map-get($colors , lightColor);

    svg path {
      fill: map-get($colors , lightColor);
    }

    &:hover {
      box-shadow: inset 0 0 0 8px map-get($colors, lightColor);
    }

  }

  &.-dark {
    border-color: map-get($colors, darkColor);
    background-color: map-get($colors, darkColor);
    color: map-get($colors, lightColor);

    &:hover {
      box-shadow: none;
    }
  }

}

.moreLink {
  text-decoration: none;
  text-transform: uppercase;
  color: map-get($colors, darkColor);
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: map-get($colors, darkColor);
  }

  &::before {
    transform: scaleX(1);
    transform-origin: right;
    transition: all .3s ease-in-out;
  }

  &::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s ease-in-out .1s;
  }

  &:hover {
    &::before {
      transform: scaleX(0);
    }

    &::after {
      transform: scaleX(1);
    }
  }
}