.chapo {
  &.-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: map-get($spaces , s);
  }

  &__link {
    color: map-get($colors, darkColor);
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}