.hero {
  position: relative;

  &__header {
    color: map-get($colors , lightColor);
    align-self: end;
  }

  &__subtitle {
    text-transform: uppercase;
    @include fluid-type($small);
    letter-spacing: rem(1);
  }

  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
  }



}