.hero {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: map-get($spaces, m);

  &__header {
    color: map-get($colors , lightColor);
    align-self: end;
  }

  &__subtitle {
    text-transform: uppercase;
    @include fluid-type($small);
    letter-spacing: rem(1);
  }

  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__chapo {
    background-color: map-get($colors , lightColor);
    display: grid;
    align-items: center;
    margin-left: -#{map-get($spaces, s )};
    margin-right: -#{map-get($spaces, s )};
    padding: 0
  }

  &__text {
    @include fluid-type($excerpt);
    line-height: 1.5;
  }

}