.menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: map-get($colors, 'primary');
  display: flex;
  @include fluid-type($excerpt);
  transition: all .5s ease-in-out;

  &__list {
    margin-left: 10vw;
    margin-top: 25vh;
  }

  &__item {
    margin-top: rem(8);
  }

  &__link {
    color: map-get($colors, 'lightColor');
    text-decoration: none;
    padding: 5px 20px;
  }

  &--open {
    visibility: visible;
    opacity: 1;
  }

}


// Icone Menu Hamburger

.menuBurger {
  width: 30px;
  height: 30px;
  position: relative;

  &__bar,
  &__bar::before,
  &__bar::after {
    content: "";
    background-color: map-get($colors, darkColor);
    height: 2px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: all .3s ease-in-out;
  }

  &__bar::before {
    top: -10px;
  }

  &__bar::after {
    top: 10px;
  }

}

.menuBurger--open {
  .menuBurger__bar {
    transform: rotate(135deg);
    background-color: map-get($colors, lightColor);

    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
      background-color: map-get($colors, lightColor);
    }
  }
}