.listUnstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Bug IOS
// => L'overflow doit être appliqué sur l'élément body ET html
// pour faire disparaître le scroll sur safari IOS

.noscroll,
.noscroll body {
  overflow: hidden;
}

.main-column {
  padding-left: map-get($spaces, s);
  padding-right: map-get($spaces, s);
}