// Couleurs

$colors: (
  primary: #1d096b,
  secondary: #feaa9b,
  darkColor: #1C1514,
  gray-300: #828282,
  gray-200: #CDC8C6,
  gray-100: #E9E7E4,
  lightColor: #FAFAFA,
  selection: #caae7b,
);

// Typographie

$typo: (
  mono: ('Space Mono', monospace),
  sans-serif: ('Mulish', sans-serif)
);

// Espaces

$spaces: (
  s: 24px,
  m: 48px,
  l: 96px)