header.header
  div.header__start
    a.header__logo(href="/" aria-label="Retour à l'accueil")
      include ../../../assets/img/svg/logo.svg
  
  div.header__end
    button.header__menuBtn.menuBurger
      span.menuBurger__bar
    
    nav.header__menu.menu
      ul.menu__list.listUnstyled
        li.menu__item
          a.menu__link(href="conservatoire.pug") Le conservatoire
        li.menu__item
          a.menu__link(href="#") Enseignements
        li.menu__item
          a.menu__link(href="agenda.pug") Agenda
        li.menu__item
          a.menu__link(href="#") Contact
        li.menu__item
          a.menu__link(href="#") S'inscrire

    button.header__search
      include ../../../assets/img/svg/icon_search.svg