header 
  a(href="/" aria-label="Retour à l'accueil")
    include ../../../assets/img/svg/logo.svg

    button
        span
    
    nav
        ul
            li
                a(href="conservatoire.pug") Le conservatoire
            li
                a(href="#") Enseignements
            li
                a(href="agenda") Agenda
            li
                a(href="#") Contact
            li
                a(href="#") S’inscrire

    button
        include ../../../assets/img/svg/icon_search.svg