*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: map-get($typo, 'sans-serif');
  // font-size: rem(13);
  @include fluid-type($body);
  line-height: 1.6;
  background-color: map-get($colors, lightColor);
}

h1, h2 {
  font-family: map-get($typo, 'mono' );
  font-weight: normal;
  line-height: 1.1;
}

h1 {
  // font-size: rem(36);
  @include fluid-type($heading-1);
}

h2 {
  // font-size: rem(28);
  @include fluid-type($heading-2);
} 

h3 {
  // font-size: rem(18);
  @include fluid-type($heading-3);
  line-height: 1.4;
} 

button {
  background: none;
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
