extends ../base.pug

block title
  title Conservatoire — Infos

block main 
  +hero(
    "Le conservatoire",
    "Découvrez le Conservatoire, ses enseignements, ses équipes dans un nouveau lieu dédié à la culture artistique.",
    "crd-ext-02.jpg",
    "conservatoire"
  )

  div   
    h2 L'accompagnement des pratiques artistiques en amateur et l'éducation artistique et culturelle
    p Le CRD accueille de nombreuses associations instrumentales et vocales : orchestres d’harmonie, chorales, ensembles vocaux, ensembles de musique traditionnelle. De nombreux partenariats sont développés pour accompagner les projets de diffusion.
    p Depuis de très nombreuses années, les enfants belfortains bénéficient d’un enseignement musical scolaire assuré par des intervenants intégrés au fonctionnement du Conservatoire. Ces enseignants sont spécialement formés pour intégrer le projet éducatif des écoles primaires, en lien étroit avec les enseignants de l’Education Nationale. Ensemble, ils élaborent le projet musical de la classe, souvent lié aux objectifs pédagogiques du Conservatoire.
    p Les projets sont source de rayonnement musical sur le quartier où est implantée l’école.
    p Le département pédagogique d’Enseignement Musical Scolaire (E.M.S.) du Conservatoire concerne ainsi tous les élèves des écoles primaires publiques de la Ville de Belfort. L’équipe compte huit intervenants et une chargée de mission.
    p Pour accompagner les enfants sur des parcours longs, le Conservatoire propose également des classes à horaires aménagés musicales.
    figure
      img(src="../../../assets/img/photos/agenda-musique-06.jpg", alt="Description")
      figcaption 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla gravida enim eget ullamcorper.

    h2 La diffusion
    p Le projet du CRD est de favoriser la rencontre entre les différentes pratiques artistiques et les différentes esthétiques, la création et les expériences artistiques.
    p A travers les huit sites du Conservatoire, des salles aux multiples capacités d’accueil permettent la diffusion sous toutes ses formes : conférences, auditions, concerts. Le CRD s’appuie sur des structures plus adaptées pour les manifestations plus importantes ou spécifiques à la danse et au théâtre (Maison du Peuple, Salles des fêtes des communes du Grand Belfort, Espace Louis Jouvet, Théâtre Granit, CCNFCB etc… ).
    p Le Conservatoire intègre également dans son projet artistique le nouvel ensemble Confluences qui permet la rencontre et des échanges entre les professionnels et les élèves en cycle d’orientation professionnelle. Cette démarche permet d’aborder des programmes ambitieux et exigeants autour d’œuvres de toutes esthétiques favorisant la découverte à destination du grand public.