extends ../base.pug

block title
  title Conservatoire — Accueil

block main
  div.grid.-fullHeight.hero
    div.hero__header
      h1.hero__title Conservatoire Henri Dutilleux 
      h2.hero__subtitle Conservatoire à rayonnement départemental du grand Belfort
    ul.hero__chapo.chapo.-cols.listUnstyled
      li.chapo__item
        a.chapo__link(href="#") 
          include ../../../assets/img/svg/icon_musique.svg
          | Musique
      li.chapo__item
        a.chapo__link(href="#")
          include ../../../assets/img/svg/icon_theatre.svg
          | Théâtre
      li.chapo__item
        a.chapo__link(href="#")
          include ../../../assets/img/svg/icon_danse.svg
          | Danse

    +duotone("agenda-musique-06", "violoncelles", 2000, 2000, 1000)(class="hero__img")

  section.grid.crd
    picture.crd__img
      //- source(srcset="../../../assets/img/photos/crd-int-01.jpg?as=avif&width=1000", type="image/avif")
      //- source(srcset="../../../assets/img/photos/crd-int-01.jpg?as=webp&width=1000", type="image/webp")
      img(src="../../../assets/img/photos/crd-int-01.jpg?width=1000", alt="Salle de musique du conservatoire")
    header.crd__header
      h2.crd__title Découvrez le Conservatoire, <span>ses enseignements</span>, ses équipes dans un nouveau lieu dédié à la culture artistique.
      +btn("conservatoire.pug", "Plus d'infos")
    ul.crd__stats.stats.listUnstyled
      li.stats__item
        span.stats__nb 9
        span.stats__text sites
      li.stats__item
        span.stats__nb 84
        span.stats__text enseignements
      li.stats__item 
        span.stats__nb 1500
        span.stats__text élèves
      li.stats__item 
        span.stats__nb 50
        span.stats__text disciplines

  section.grid.section
    header.section__header
      h2.section__title Agenda 
      p.section__intro Lieu de création artistique, le conservatoire propose régulièrement des actions culturelles ouvertes à tous.
    +btn("agenda.pug", "Tous les évènements")(class="section__link")

    +card(
      "agenda-musique",
      "description image",
      "Concert d'ouverture",
      "15 mars à 20h30",
      'Dans le cadre de l’Enlèvement au sérail, Payot Genève organise une rencontre avec l’écrivain et journaliste turque dissidente Asl Erdogan.',
      '#'
    )
    +card(
      "agenda-theatre",
      "description image",
      "Le malade imaginaire",
      "21 mars à 20h30",
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus cursus euismod. Nam ultricies dui at velit eleifend, in tristique lectus rhoncus.',
      '#'
    )
    +card(
      "agenda-danse",
      "description image",
      "Concerto pour violons",
      "15 avril à 20h30",
      'Lorem ipsum dolor sit amet. Duis luctus cursus euismod. Nam ultricies dui at velit eleifend, in tristique lectus rhoncus.',
      '#'
    )

  section.grid.section.-inverse.-bg
    header.section__header
      h2.section__title Inscriptions 
      p.section__intro Vous êtes désireux d'entrer au conservatoire ? Vous trouverez ici toutes les informations sur les les modalités d'inscriptions.
    +btn("#", "S'inscrire")(class="-outlined section__link")
    +duotone("crd-ext-01", "facade Est du conservatoire", 2000, 2000, 1000)(class="section__img")