.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: map-get($colors, lightColor);
  display: flex;
  justify-content: space-between;
  padding: 0 map-get($spaces , s );
}